.jsx-label-content {
  margin-bottom: 20px;
  > .label-text {
    display: flex;
    color: #333333;
    > .label-title {
      width: 110px;
      height: 20px;
      text-align: right;
      opacity: 1;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Medium;
      font-weight: 550;
      line-height: 20px;
      margin-right: 13px;
      min-width: 70px;
    }
    .label-name {
      flex: 1;
      height: 20px;
      opacity: 1;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: left;     
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .img-collection {
      max-width: 620px;
      overflow: hidden;
      .img-wrap {
        width: 104px;
        height: 104px;
        padding: 8px;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          cursor: pointer;
          border-radius: 4px;
        }
        a {
          text-align: center;
          transform: translateY(-8px);
          display: inline-block;
        }
      }
    }
  }
}